version: 2.0
jobs:
  build:
    docker:
      - image: circleci/elixir:1.7
        environment:
          MIX_ENV: test
    working_directory: ~/app
    steps:
      - checkout
      - run: mix local.hex --force
      - run: mix deps.get
      - run: mix format --check-formatted
      - run: mix test
